---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE=
[
    {
        date: '03/12/2025 - Actualidad',
        title: 'Test Automation Analyst I',
        description: 'Desarrollo de pruebas automatizadas para mejorar la calidad del software y de agentes de Inteligencia Artificial. Enfocado en la creación y mantenimiento de scripts de prueba utilizando herramientas como Cucumber y Playwright, y en la implementación de agentes de IA para optimizar procesos de prueba y análisis de datos. Actualmente trabajando en GFT Technologies para el cliente Tigo Colombia.',
        link: 'https://www.gft.com/co/es/',
    },
    {
        date: '05/05/2025 - 04/11/2025',
        title: 'Practicante de desarrollo de Software',
        description: 'Desempeñando tareas de desarrollo de software, para la automatización de procesos manuales, en Tigo Colombia.',
        link: 'https://www.tigo.com.co',
    },
]
---
<ol class="relative border-s border-gray-200 ml-2.5">
    {EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>
    ))}
</ol>