<header class="text-xs lg:text-base flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="">Inicio</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>